*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cont1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "conts1 conts2";
    width: 98vw;
    height: 100vh;
    grid-gap: 5px;
    border: 2px solid black;
}

.conts1,.conts2,.conts3,.conts4{
    width: 60%;
    height: 150px;
    border: 2px solid black;
    background-color: blue;
}